[user]
  email = matoruru@shgt.jp
  name = matoruru
  signingkey =

[core]
  editor = nvim
  pager = git-split-diffs --color | less -+LFX

[log]
  date = iso-local

[alias]
  # Shorten common commands
  a = add
  s = status
  b = branch
  cm = commit -m
  d = diff
  dc = diff --cached
  l = log
  lo = log --oneline
  los = log --oneline --stat
[commit]
  gpgsign = true
